<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">trip.ly costs</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#">Home</a></li>
					<li><a href="#new">New Trip</a></li>
					<li class="dropdown active">
						<a href="#" class="class dropdown-toggle" data-toggle="dropdown">Trips <b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li class="active"><a href="#">Zubehaus</a></li>
						<li><a href="#">Derby</a></li>
						<li><a href="#">Mexico</a></li>
						<li><a href="#">New Orleans</a></li>
						<li class="divider"></li>
						<li><a href="#">More Trips...</a></li>
					</ul>
				</ul>
				<p class="navbar-text pull-right">
					<a href="#" class="navbar-link"><strong><i class="icon-user icon-white" style="margin-top: 2px"></i> Craig</strong></a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<div class="well" style="position:relative">
				<i class="icon-road"></i> <strong><a href="#" id="trip-name" data-type="text" data-original-title="Enter Trip Name"></a></strong>
				<div class="btn-group" style="position:absolute; right:17px; top:17px">
					<a class="btn btn-primary" role="button" href ng-click="addCost()">
						<i class="icon-pencil icon-white"></i>&nbsp; Add Cost
					</a>
					<a class="btn btn-primary dropdown-toggle" href>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href><i class="icon-share"></i> Share...</a></li>
						<li><a href><i class="icon-trash"></i> Delete</a></li>
					</ul>
				</div>
			</div>
			<div ng-include="costListTemplate" />
		</div>
		<div class="span2">
			<div ng-include="peopleListTemplate" />
		</div>
	</div>
</div>
