<div><form ng-submit="create(newCost)">

	<div class="modal-header">
		<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
		<input type="text" ng-model="newCost.title" placeholder="Hotel" autofocus/>
		<br/>
	</div>

	<div class="modal-body">
		<input type="text" ng-model="newCost.price" placeholder="$500" />
		<br/>
		<input type="text" ng-model="newCost.paidBy" placeholder="Craig" />
		<br/>
		<input type="text" ng-model="newCost.paidFor" placeholder="Craig, Xiaoyi, Jim, Wendy" />
		<br/>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn" ng-click="close()">Close</button>
		<input type="submit" class="btn btn-primary" value="Save Changes" />
	</div>

</form></div>
