<div>

	<div class="modal-header">
		<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
		<strong>New Person</strong>
	</div>

	<div class="modal-body">
		<form ng-submit="create(newPersonName)">
			<input type="text" ng-model="newPersonName" placeholder="Name" autofocus/>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn" ng-click="close()">Close</button>
		<button class="btn btn-primary" ng-click="create()">Create</button>
	</div>

</div>
