<div>
<form ng-submit="create(newPersonName)">

	<div class="modal-header">
		<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
		<strong>New Person</strong>
	</div>

	<div class="modal-body">
		<input type="text" ng-model="newPersonName" placeholder="Name" autofocus/>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn" ng-click="close()">Close</button>
		<button type="submit" class="btn btn-primary">Create</button>
	</div>

</form>
</div>
