<div ng-controller="PeopleListController">

	<ul class="nav nav-list">
		<li class="nav-header">Participants</li>
		<li ng-repeat="person in people">
			<table style="width:100%">
				<tbody>
					<tr>
						<td width="*">
							<a href="#">{{person.name}} <i class="icon-star" ng-if="$first"></i></a>
						</td>
						<td ng-style="{'text-align': 'right', 'color': $first ? '#CCCCCC' : '#000000'}">5.00</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li class="divider"></li>
		<li>
			<a href="#newPersonModal" role="button" data-toggle="modal"><i class="icon-user"></i> Add Person</a>
		</li>
	</ul>

</div>
