<div class="well sidebar-nav" ng-controller="PeopleListController">

	<ul class="nav nav-list">
		<li class="nav-header">Participants</li>
		<li ng-repeat="person in people">
			<table style="width:100%">
				<tbody>
					<tr>
						<td width="*">
							{{person.name}} <i class="icon-star" ng-if="isClearPerson(person)"></i>
						</td>
						<td ng-style="{'text-align': 'right', 'color': isClearPerson(person) ? '#CCCCCC' : '#000000'}">
							{{printCostTotalForPerson(person)}}
						</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li class="divider"></li>
		<li>
			<a role="button" href ng-click="addPerson()"><i class="icon-user"></i> Add Person</a>
		</li>
	</ul>

</div>
