<!-- ROGTODO: replace nav with lightweight, righ-aligned nav controls (like google.com) -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<div class="well" style="position:relative">
				<i class="icon-road"></i> 
				<strong>
					<a href editable-text="tripName">{{ tripName || "Trip Name" }}</a>
				</strong>
			</div>
			Trip dates: {{days[0].title}} to {{days[days.length-1].title}}
			<table style="margin: auto;">
				<!-- ROGTODO: instead of a table, use a div with container-fluid or row-fluid class? -->
				<tr>
					<td>
						<div>
							<button style="display:block" ng-click="slideBackwardOneDay()"><-</button>
							<button style="display:block" ng-click="addDayAtStart()">+</button>
							<button style="display:block" ng-click="removeDayAtStart()">-</button>
						</div>
					</td>
					<td>
						<table border="1">
							<tr>
								<td style="width:200px;text-align:center" ng-repeat="day in days">{{ day.title }}</td>
							</tr>
							<tr>
								<td style="width:200px;height:200px" ng-repeat="day in days">
									<div ng-repeat="activity in day.activities">{{activity}}</div>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<div>
							<button style="display:block" ng-click="slideFutureOneDay()">-></button>
							<button style="display:block" ng-click="addDayAtEnd()">+</button>
							<button style="display:block" ng-click="removeDayAtEnd()">-</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
